/* VARIABLES */
:root {
  --background-color: #f5f5f5;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}
